*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Thin.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Black.ttf);
    font-weight: 900;
    background-color: #f4f4f4 !important;
}

body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.clearfix::after{
    clear: both;
    display: table;
    content: '';
}