form{
    margin-top: 30px;
}
.form-group{
    display: inline-block;
}

.btn-up{
    display: inline-block;
    margin-left: -5px;
}

.search-btn{
    margin-left: 0px;
    margin-top: 7px;
}

.btn-up button{
    padding: 5px 10px;
    color: blue;
    background-color: #fff;
    border: 1px solid black;
}

input{
    outline: none;
    width: 100% !important;
    padding: 5px 20px;
}

small.error {
    margin-top: 5px;
    display: inline-block;
    font-weight: 500;
    color: red;
    font-size: 14px;
}
