body{
    width: 100%;
    height: 93.3vh;
    font-weight: 400;
    background-color: #f8f9fa;
}

.container{
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: #ffffff;
    margin: 50px auto;
}

.link{
	color: blue !important;
}

.inner{
    padding: 40px 0px;
}

.cmn-ttl{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 35px;
    text-align: center;
    color: blue;
}

.form{
    margin: 0 auto;
    width: 80%;
}

.error {
    width: 80%;
    color: red;
    font-weight: 700;
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
}

.login-error{
    margin: 0 auto 5px;
}

label{
    font-size: 20px;
    color: blue;
}

.form-group {
    margin-bottom: 25px;
}

input{
    width: 100%;
    outline: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid blue;
}

button.btn {
    padding: 10px 40px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #ffffff;
    background-color: blue;
}

.btn:hover{
    background-color: white;
    color: blue;
    border: 1px solid blue;
}

.btn a:hover{
    color: blue;
}

a{
    color: white;
    text-decoration: none;
}