img{
    width: 100px;
}

body{
    background-color: #f4f4f4;
}

.inner{
    width: 90%;
    margin: 0 auto;
}

.card{
    width: 70%;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    background-color: white;
    float: left;
}

.ps-fg{
    float: left;
    width: 80% !important;
}

.card-body{
    padding: 20px 40px;
}

.cmn-ttl{
    font-size: 36px;
    margin: 25px 0px;
    text-align: center;
    color: blue;
}

.ttl{
    font-size: 36px;
    font-weight: 700;
    margin-top: 15px;
}

table{
    width: 100%;
    background-color: #fff;
}

.img-div{
    text-align: center;
    margin-bottom: 20px;
}

.show-img{
    width: 300px;
}

.ttl-div.clearfix {
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.ttl-div .rgt{
    margin-top: 21px;
}

.ttl-div .rgt a{
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
}

i.fa-solid.fa-arrow-left {
    margin-right: 10px;
}

i.fa-solid.fa-list {
    margin-right: 10px;
}

.ttl-div .rgt:hover a{
    color: blue;
}

thead{
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

th{
    font-weight: 700;
}

th,td{
    text-align: left;
    padding: 15px 20px;
    vertical-align: middle;
}

th.num {
    width: 60px;
}

th.title {
    width: 140px;
}

th.date {
    width: 200px;
}

th.image {
    width: 100px;
}

.action{
    width: 207px;
}

.uname{
    width: 120px;
}

.cat-name{
    width: 154px;
}

span.user-logo {
    display: inline-block;
    width: 31px;
    padding: 3px;
    border-radius: 50%;
    font-size: 22px;
}

span.user-name {
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
}

p.cname {
    margin: 15px 0px 25px;
}

span.cat-name {
    font-size: 20px;
    color: #645959;
    text-transform: capitalize;
}

p.description {
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: justify;
}

p.success {
    color: green;
    margin: 5px 0 0;
    font-weight: 700;
}

.error {
    color: red;
    margin: 5px 0 0;
    font-weight: 700;
}

a.del {
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 14px;
    background: red;
    display: inline-block;
}

a.edit{
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 14px;
    background: blue;
    display: inline-block;
}

a.details{
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 14px;
    background: green;
    display: inline-block;
}

.up{
    width: 580px;
    margin: 40px;
    padding: 0px 40px 20px 40px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    margin: 0 auto;
}

.create-up{
    margin: 125px auto 0px !important;
}

.form-group{
    width: 100%;
    margin-bottom: 20px;
}

form.form {
    margin-top: 25px;
}

label{
    font-size: 20px;
    margin-bottom: 15px;
    display: inline-block;
}

input,select,textarea{
    width: 100%;
    padding-left: 10px;
    outline: none;
}

input{
    padding: 8px 10px;
}

.search{
    width: 200px;
    padding: 10px 10px;
    border: 1px solid blue;
}

input[type="file"] {
    border: 0;
    width: 100%;
    padding: 0px;
}

button:hover{
    /* padding: 10px 15px; */
    border: 2px solid blue;
    cursor: pointer;
    color: blue;
    background-color: #fff;
}

.arrow{
    padding: 0px !important;
}

.search-btn{
    padding: 9px 10px !important;
}

button{
    border: 2px solid blue;
    font-weight: 500;
    box-sizing: border-box;
    color: #fff;
    background-color: blue;
}

.btn-up button.full-btn{
    width: 100% !important;
    padding: 12px;
}

.pagination{
    margin: 20px 0px 60px;
    text-align: center;
}

.paginate-up{
    display: inline-block;
    background: white;
}

.paginate{
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.05);
    text-decoration: none;
    padding: 10px 15px;
}

.search-form{
    display: inline-block;
}

.arrow a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 12px 15px;
}

.arrow:hover > a{
    color: blue;
}

i.fa-solid.fa-plus {
    margin-right: 10px;
}

.form-gp{
    padding: 20px 0px;
}

.lft{
    float: left;
    display: block;
    cursor: pointer;
}

.rgt{
    float: right;
    display: block;
}

.comment{
    width: 30%;
    float: right;
    background-color: white;
}

.form-group{
    display: inline-block;
    margin-bottom: 20px;
}

.form-group img {
    margin-bottom: 10px;
}

.btn-up button{
    font-size: 16px;
    margin-top: -20px;
    
}

input{
    width: 100%;
    outline: none;
    padding: 5px 20px;
}

small.error {
    margin-top: 5px;
    display: inline-block;
    font-weight: 500;
    color: red;
    font-size: 14px;
}